@mixin kendo-textarea--layout() {

    // Textarea
    .k-textarea {
        @extend .k-composite-input !optional;
    }


    // Native textarea
    input.k-textarea {
        padding: var(--kendo-input-padding-y) var(--kendo-input-padding-x);

        // Hide clear icon
        &::-ms-clear { display: none; }

        // Placeholder text
        &::placeholder {
            color: $input-placeholder-text;
            opacity: $input-placeholder-opacity;
            user-select: none;
        }
        &:-ms-input-placeholder {
            color: $input-placeholder-text;
        }
    }

}
