@include exports( "panelbar/theme" ) {

    // Panelbar
    .k-panelbar {
        @include fill(
            $panelbar-text,
            $panelbar-bg,
            $panelbar-border
        );
    }


    // Panelbar header
    .k-panelbar-header,
    .k-panelbar > .k-item {
        border-color: $panelbar-header-border;

        > .k-link {
            @include fill(
                $panelbar-header-text,
                $panelbar-header-bg,
                $panelbar-header-border,
                $panelbar-header-gradient
            );
        }


        // Expanded state
        &.k-state-expanded > .k-link {
            border-color: transparent;
            color: inherit;
            background-color: transparent;
            background-image: none;
        }


        // Hover state
        > .k-link:hover,
        > .k-link.k-state-hover {
            @include fill(
                $panelbar-header-hovered-text,
                $panelbar-header-hovered-bg,
                $panelbar-header-hovered-border,
                $panelbar-header-hovered-gradient
            );
        }


        // Focus state
        > .k-link:focus,
        > .k-link.k-state-focus,
        > .k-link.k-state-focused {
            box-shadow: $panelbar-header-focused-shadow;
        }


        // Selected state
        > .k-link.k-state-selected {
            @include fill(
                $panelbar-header-selected-text,
                $panelbar-header-selected-bg,
                $panelbar-header-selected-border,
                $panelbar-header-selected-gradient
            );

            &:hover,
            &.k-state-hover {
                background-color: try-shade( $panelbar-header-selected-bg );
            }
        }

    }


    // Panelbar item
    .k-panelbar-item,
    .k-panelbar .k-group {

        // Hover state
        > .k-item > .k-link:hover,
        > .k-item > .k-link.k-state-hover {
            @include fill(
                $panelbar-item-hovered-text,
                $panelbar-item-hovered-bg,
                $panelbar-item-hovered-border,
                $panelbar-item-hovered-gradient
            );
        }


        // Focus state
        > .k-item > .k-link:focus,
        > .k-item > .k-link.k-state-focus,
        > .k-item > .k-link.k-state-focused {
            box-shadow: $panelbar-item-focused-shadow;
        }


        // Selected state
        > .k-item > .k-link.k-state-selected {
            @include fill(
                $panelbar-item-selected-text,
                $panelbar-item-selected-bg,
                $panelbar-item-selected-border,
                $panelbar-item-selected-gradient
            );

            &:hover,
            &.k-state-hover {
                background-color: try-shade( $panelbar-item-selected-bg );
            }
        }

    }

}
